* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    height: 80px;
    
    
    
    padding: 20px 5%;
}
header > #logo {
    width: 100px;
    float: left;
}
header > nav {
    border: 1px solid red;
    float: right;
    
}
header > nav > a {
    color: #101010;
    margin-left: 20px;

}

#images {
    text-align: center;    
}
#images > img {
    width: 600px;
}
