* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;     
}


body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
    
}


header {
    width: 100%;
    height: 125px;
    max-height: 15%;
    padding: 20px 5%;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
        
}

header > a {
    width: 500px fit-content;
    color:rgb(255, 255, 255);
    font-size: 200%;
    max-width: 40%;
    max-height: fit-content;
    min-height: fit-content;
    
}

br {
    margin-top: 150px;
}


header > nav {
    max-width: 25%;
    max-height: fit-content;     
    
}

header > nav > a {
    color: #ffffff;
    margin-left: 20px;
    font-size: 150%;
    max-width: 15%;
}


.images1 {
    text-align: center; 
    padding: 0px 0; 
    font-size: 0;
    width: 95%;  
    margin: auto;
}
.images1 > img {
    width: 20%;
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;
}
.images1 > h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.images2 {
    text-align: center; 
    padding: 0px 0; 
    font-size: 0;
    width: 95%;  
    margin: auto;
}
.images2 > img {
    width: 20%;
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;
}
.images2 > h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.images3 {
    text-align: center; 
    padding: 0px 0; 
    font-size: 0;
    width: 95%;  
    margin: auto;
}
.images3 > img {
    width: 20%;
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;
}
.images3 > h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}
.images4 {
    text-align: center; 
    padding: 0px 0; 
    font-size: 0;
    width: 95%;  
    margin: auto;
}
.images4 > img {
    width: 40%;
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;
}
.images4 > h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}


footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 2%;
    margin-top: 2px;
}