* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;     
}


body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
    
}


header {
    width: 100%;
    padding: 20px 5%;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
        
}

header > #logo {
    width: 100px;
    color:rgb(255, 255, 255);
    font-size: 125%;
}

br {
    margin-top: 100px;
}


header > nav {     
    
}

header > nav > a {
    color: #ffffff;
    margin-left: 20px;

}


.images {
    text-align: center; 
    padding: 0px 0; 
    font-size: 0;
    width: 95%;  
    margin: auto;
}
.images > img {
    width: 50%;
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
}
.images > h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 2%;
    margin-top: 2px;
}